/* body {
    cursor: url('/cursor2.png'), auto;
  } */

#main-hero {
  cursor: url("down.svg"), auto;
  /* height: 100%;
  width: 100%; */
}

/* .project {
  cursor: url("eyes.svg"), auto;
} */
@font-face {
  font-family: "Humane";
  src: url("/Humane-Black.ttf") format("truetype");
  font-weight: 900; /* Black font weight */
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("/WorkSans-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("/WorkSans-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

/* Add the custom font to your utility classes */
.humane {
  font-family: "Humane", sans-serif;
  font-weight: 900; /* Ensure the black weight is applied */
}

/* Add the custom font to your utility classes */
.work {
  font-family: "Work Sans", sans-serif;
  font-weight: 500; /* Ensure the black weight is applied */
}

.work-bold {
  font-family: "Work Sans", sans-serif;
  font-weight: 700; /* Bold text */
}
